
.mainsocial{
    background-color: white;
}
.social{
    /* border: solid 1px red; */
    width: 100vw;
    height: 45vh;
    padding-top: 0;
    padding-bottom: 0;    

}
.socard{
    /* border: solid 1px blue; */
    width: 90vw;
    height: 30vh;

}
.cardimg{
    /* border: solid 1px green; */
    width: 30vw;
    height: 30vh;   
}
.carte{
    /* border: solid 1px hotpink; */
    width: 10vw;
    height: 30vh;
    padding-left: 30%;
}
.carte2{
    height: 30vh;
}

