.bodyperfil{
    background-color: hotpink;
}
.relleno{
    width: 50vw;
    height: 8vh;
}
.mainperfil{
    width: 98.9vw;
    height: 150vh;
}
.imgportada{
    width: 80vw;
    height: 35vh;
    border-radius: 2vw;
    margin-top: 0.5vh;
    object-fit: cover;
    position: absolute;
}
.posimgper{
    /* border: solid 1px blue; */
    width: 79vw;
    height: 20vh;
    position: absolute;
    margin-top: 14vh;   
}
.imgperfil{
    border: solid 2px #21323f;
    width:11vw;
    height:20vh;
    border-radius:20vw;
    position: absolute;
}
.textoperfil{
    /* border: solid 1px white; */
    margin: 10vh 0 0 22vh;
}
.nombreperfil{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.infoperfil{
    /* border: solid 1px purple; */
    width: 90vw;
    height: 80vh;
    margin-top: 35vh;
}
.infoperfil{
    margin-top: 40vh;
}
.perfilcar{
    width: 60vw;
}
.infousuario{
    background-color:rgb(184, 80, 132);
    border: solid 2px black;
    width: 25vw;
    height: 50vh;
    border-radius: 2vw;
}
.infousu{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5vw;
    margin-left: 2vw;
}
.conteperfil{
    background-color:rgb(184, 80, 132);
    border: solid 3px black;
    border-radius: 2vw;
    width: 60vw;
    height: 150vh;
}
.textusu{
    font-family:'Open Sans', sans-serif;
    font-size: 2vw;
    margin-left: 1.5vw;
}
.botperfil{
    margin: 1vh 1vw;
}
.botper{
    margin: 0 1vw;
}
.contcarper{
    margin-top: 2vh;
}
.percar1{
    margin-top: 1vh;
}
